.Rproj.user
.Rhistory
.RData
.Ruserdata
.creds
_diff_*
.Renviron
metadata.csv
.Rbuildignore
argendata-etl.Rproj
data/_FUENTES
data
*.html
fuentes_TEST.R
*.txt
tmp
bitacora.md
buscar_cleans_example.R
.vscode/*